.produitDetailContainer {
    padding-left: 255px;
    padding-right: 255px;
    padding-top: 50px;
}

.produitImgDetailCOntainer {
    display: flex;
}

.produitImage {
    flex: 5;
}

.produitDetailConatainer {
    flex: 5;
    padding: 20px;
}

.thumbnail {
    height: 600px;
    width: 100%;
}

.tumbnailphoto {
    height: 90%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px #888888
}

.allImageProduit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
}

.imageUniqueContainer {
    cursor: pointer;
    margin-right: 15px;
}

.imageUniqueContainer:hover {
    box-shadow: 1px 1px 15px 1px #888888;
    transition: 0.2s ease;
}

.priceSide {
    display: flex;
    width: 30%;
    height: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.descContent {
    width: 50%;
    margin-top: 20px;
}

.description {
    margin-bottom: 50px;
}

.cartSide {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.inputProduitX {
    width: 50px;
}

.btnPlusMinusProduitDetail:hover {
    background-color: #0a3040;
    color: white;
    transition: 0.5s ease;
    border: 0.5px solid #0a3040;
    outline: none;
}

.btnPlusMinusProduitDetail {
    border: 0.5px solid;
    height: 22px;
}

.addToCartBtn {
    height: 40px;
    width: 150px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #0a3040;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.addToCartBtn:hover {
    background-color: white;
    color: #0a3040;
    transition: 0.5s ease;
    border: 0.5px solid #0a3040;
}

.suggestedProduit {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.suggTitle {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 0.5px #0a3040 solid;
    border-radius: 5px;
}

.suggTitle:hover {
    background-color: #0a3040;
    color: white;
    transition: 0.5s ease;
}

.suggestedProduitData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.imageSuggPRod {
    height: 350px;
}

.prodDetailSugg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titleSugg {
    margin-top: 20px;
}

.prixSugg {
    margin-top: 20px;
}

.promotionTag {
    position: absolute;
    top: 15px;
    right: 0px;
}

.prixDetailSugg {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
}

.promoText {
    text-decoration: line-through;
}