.containerListeBoutique {}

.buttonListAdd {
    margin-top: 100px;
}

.addHanoutBtn {
    height: 70px;
    width: 140px;
    outline: none;
    font-size: 18px;
    background-color: white;
    border: 0.5px gray solid;
    border-radius: 5px;
}

.addHanoutBtn:hover {
    transition: 0.3s ease;
    background-color: gray;
    color: white;
}

.loadingBar {
    display: flex;
    margin-top: 100px;
    font-size: 50px;
}